azure_data_factory/pipeline/abc_retail_data_lake_house_pipeline.json
{
	"name": "abc_retail_data_lake_house_pipeline",
	"properties": {
		"activities": [
			{
				"name": "lookup_datasets",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "ds_dlsa_abcretail_metadata_lookup_json",
						"type": "DatasetReference",
						"parameters": {
							"lookup_storage_account": {
								"value": "@pipeline().parameters.storage_account",
								"type": "Expression"
							},
							"lookup_client_id": {
								"value": "@pipeline().parameters.client_id",
								"type": "Expression"
							},
							"lookup_directory_id": {
								"value": "@pipeline().parameters.directory_id",
								"type": "Expression"
							},
							"lookup_container": {
								"value": "@pipeline().parameters.metada_container",
								"type": "Expression"
							},
							"lookup_filename": {
								"value": "@pipeline().parameters.lookup_filename",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "for_each_dataset",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "lookup_datasets",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('lookup_datasets').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "switch_dataset_source_cases",
							"type": "Switch",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"on": {
									"value": "@item().source",
									"type": "Expression"
								},
								"cases": [
									{
										"value": "http",
										"activities": [
											{
												"name": "http_to_raw",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "JsonSource",
														"storeSettings": {
															"type": "HttpReadSettings",
															"requestMethod": "GET"
														},
														"formatSettings": {
															"type": "JsonReadSettings"
														}
													},
													"enableStaging": false
												},
												"inputs": [
													{
														"referenceName": "ds_http_github_softline_json",
														"type": "DatasetReference"
													}
												]
											}
										]
									},
									{
										"value": "az_sql_db"
									},
									{
										"value": "onprem_sqlserver"
									}
								]
							}
						}
					]
				}
			}
		],
		"parameters": {
			"storage_account": {
				"type": "string"
			},
			"client_id": {
				"type": "string"
			},
			"directory_id": {
				"type": "string"
			},
			"metada_container": {
				"type": "string"
			},
			"lookup_filename": {
				"type": "string"
			},
			"github_username": {
				"type": "string"
			},
			"github_repository": {
				"type": "string"
			},
			"github_branch": {
				"type": "string"
			},
			"github_softline_data_folder": {
				"type": "string"
			}
		},
		"annotations": []
	}
}